# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# #################### ignored by wukong #####################
# ignored ide config file
.classpath
.project
.settings
.idea/
mz-g.iml

# ignored project inner folder and file
log/
target/
src/main/java/band/wukong/mz/g/whisper/
src/test/java/band/wukong/mz/g/whisper/
src/main/webapp/gimg/goods/
src/main/webapp/gimg/goods_rm/
src/main/webapp/gimg/sku/
src/main/webapp/gimg/sku_rm/
src/test/java/TestMain.java
# #################### ignored by wukong #####################
src/main/webapp/META-INF/MANIFEST.MF
